[submodule "mec_"]
	path = mec_
	url = https://github.com/etfrogers/mec.git
[submodule "kivy_arrow"]
	path = kivy_arrow
	url = https://github.com/etfrogers/kivy-arrow.git
[submodule "SolarEdgeClient"]
	path = SolarEdgeClient
	url = https://github.com/etfrogers/SolarEdgeClient.git
[submodule "EcoforestClient"]
	path = EcoforestClient
	url = https://github.com/etfrogers/EcoforestClient.git
